*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}
.card{
    background-color: white;
    border-radius: 20px;
    width: 350px;
}
.header{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.content{
    padding: 30px;
    color: hsl(224, 23%, 55%);
    text-align: center;
    justify-content: center;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.content-1{
    line-height: 20px;
    padding: 5px 20px;
}
h1{
    color: hsl(223, 47%, 23%);
    padding-bottom: 3px;
    font-weight: 900;
    font-size: 21px;
}
.content-1 p{
    padding: 15px 0;
    line-height: 1.5em;
}
.small-card{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(225, 100%, 98%);
}
.icon{
    flex: 20%;
    width: 70%;
    margin-top: 2px;
}
.sc-con-1{
    flex: 40%;
    margin: 5px 0;
}
.sc-con-1 p{
    line-height: 1.5em;
    font-size: 14px;
}
.sc-con-1 span{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.sc-con-2{
    flex: 20%;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    margin: 20px 0 0 50px;
}
a:hover{
    color: hsla(245, 75%, 52%, 0.7);
    text-decoration: none;
}
button{
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    width: 100%;
    margin: 25px 0;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 900;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 hsla(245, 75%, 52%, 0.3);
}
button:hover{
    background-color: hsla(245, 75%, 52%, 0.7);
}
.end{
    font-weight: 900;
    font-size: 16px;
}
.attribution{
    font-size: 12px; 
    text-align: center; 
    padding: 10px;
}
.attribution a{
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}
.attribution a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 1001px){
    body{
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
    }
    .card{
        width: 380px;
    }
    .content{
        padding: 30px;
    }
    h1{
        font-size: 23px;
    }
    .content-1{
        padding: 5px 10px;
    }
    .content-1 p{
        padding: 15px 5px;
    }
    .small-card{
        padding: 8px;
    }
    .end{
        font-size: 15px;
    }
}